{% extends "::base.html.twig" %}
{% form_theme contactForm 'bootstrap_3_layout.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}

{% block body %}
<h2>Ajouter un contact</h2>

{{ form_start(contactForm, {'attr': {'novalidate': 'novalidate'} }) }}

    {{ form_row(contactForm.prenom) }}
    {{ form_row(contactForm.nom) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.dateNaissance) }}
    {{ form_row(contactForm.societe) }}
    
    <button type="submit" class="btn btn-primary">Ajouter</button>
    
{{ form_end(contactForm) }}

{% endblock %}
